#div1{
    height:700px;
    width:700px;
    background-color:red;
    margin:0;
    }
#div2{
    height:700px;
    width:700px;
    background-color:green;
    position:relative;
    left:320px;
    bottom:300px;
    }
 #div3{
    height:700px;
    width:700px;
    background-color:yellow;
    position:relative;
    bottom:280px;
    }
#div4{
    height:700px;
    width:700px;
    background-color:blue;
    position:relative;
    left:320px;
    bottom:580px;
    }